<!DOCTYPE html>
<html lang="en">
{% include "html_header.html" %}
<body>
<!-- <i class="fa fa-frown-o fa-5x" style="color:#0047b3;"></i> -->
    <div class="container">
        <h2>Welcome to edX data analysis</h2>
        <p>This website is based on the edX to BigQuery workflow. You can use this website to view a demo of sample edX data, or analyze your own edX data by signing on to your Google BigQuery account.</p>

        <br>
        <a href="/demo" target="_blank">Demo of edx data analysis</a>
    </div>
</body>
</html>